<html>

<head>
  <title>APUsilicon</title>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs4-4.1.1/dt-1.10.18/cr-1.5.0/r-2.2.2/datatables.min.css" />
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
  <link href="//cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet" />
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.13.1/styles/default.min.css" />
  <link rel="stylesheet" href="style/style.css" />
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
  <link rel="stylesheet" href="style/style.css" />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script type="text/javascript" src="https://cdn.datatables.net/v/bs4-4.1.1/dt-1.10.18/cr-1.5.0/r-2.2.2/datatables.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.13.1/highlight.min.js"></script>
  <script src="//cdn.quilljs.com/1.3.6/quill.js"></script>
  <script src="script/functions.js"></script>
  <script src="script/NewPost.js"></script>
  <script src="script/Post.js"></script>
  <script src="script/User.js"></script>
  <script src="script/login.js"></script>
  <script src="script/nav.js"></script>
  <script src="script/page.js"></script>
  <script src="script/PageBuilder.js"></script>
  <script src="script/database.js"></script>
  <script src="script/ModelViewer.js"></script>
  <script src="script/DatabaseForm.js"></script>
  <script src="script/DatabaseFormManager.js"></script>
  <script src="script/RequestManager.js"></script>
  <script src="script/pagination.js"></script>
  <script src="script/Admin.js"></script>
  <script src="script/NavModal.js"></script>
  <script src="script/apu.js"></script>
  <script src="script/apumanager.js"></script>
</head>

<body></body>
<script>
  let page = new Pagebuilder();

  page.newDb();

  let nav = new Nav(page, "APUsilicon")
    .setClassList("navbar navbar-expand-sm bg-dark navbar-dark col-sm-12 sticky-top")
    .addLink("Youtube", "http://www.youtube.com", "blank")
    .addLink("Reddit", "https://www.reddit.com/r/APUsilicon", "blank")
    .addLink("Amazon Affiliate", "https://amzn.to/2X9nHIU", "blank")
    .addFunction("Database", "page.newDb().viewDb().update()")
    .addAdminFunction("New Device", "page.newDbEntryForm().viewDbEntryForm().getDbEntryForm().getParent().update()")
    .addAdminFunction("Add Post", "page.createNewPost().update()")
    .addAdminFunction("Add APU", "page.getAPUMan().viewForm()");

  page.addNav(nav);

  //fetch panels from api server, applies filter from nav
  page.fetchPanels();
</script>
</html>